h1{
   font-family:'Spinnaker', sans-serif; 
   font-weight: normal;
   font-size: 36px;
}

header{
   margin: 40px 88px auto;
}

.ul-header{
    list-style: none;
    position: absolute;
    float: right;  
}

.li-header{
    display: inline;    
}

nav a{
    text-decoration: none;
}
