body{
    font-family: 'Lato', sans-serif;
}

.grid-container{
    display: grid;
    grid-auto-columns: 90px;
    margin-left: 88px;
    margin-right: 88px;
}

.banner-homepage{

}

.banner-headline{

}

.tutorial-banner{

}

.news-banner{

}

.career-banner{

}

.phrase-bio{

}

.tutorial-cards{

}

.career-news-cards{
    
}